.container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
}
body {
  background-color: hsl(0, 100%, 70%);
  background-image: url(.jpg);
  margin: 10%;
}

h1,
.para {
  color: white;
}

.form-area {
  background-color: white;

  padding: 50px;
  border-radius: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green;
}
.sub-para {
  background-color: hsl(248, 32%, 49%);
  height: 30px;
  padding-top: 10px;
  border-radius: 10px;
}
.terms {
  color: red;
}

@media only screen and (max-width: 35px) {
  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    align-items: center;
  }
}
